/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/package-lock.json
/frontend/.eslintcache
/backend/__pycache__/*.pyc
/backend/app/__pycache__/*.pyc
/backend/migrations/
/backend/.env
.gitignore
*.log